.App {
    display: flex;
    margin: 40px;
}
.App > div {
    margin-right: 50px;
}
.is-done {
    opacity: 0.5;
}
.active-filter {
    background-color: dodgerblue;
}
.error-message {
    color: red;
}
.error-input {
    border: 2px solid red;
}